/* src/App.css */
.app {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  width: calc(100% - 22px); /* To account for padding */
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
