
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.fileinput {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.fileinput:hover {
  background-color: #45a049;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table_heading {
  background-color: #f2f2f2;
}

.each_heading th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table_body td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table_body tr:nth-child(even) {
  background-color: #4CAF50;
}


h4 {
  color: #888;
}
#sortbutton{
  background-color: white;
  margin-bottom: 2px;
  margin-left: 2px;
  padding-left: 1px;
  padding-right: 1px;
  width: 12px;
  border-radius: 0.5px solid;
  border-color: black;
}
img{
  width:6px;
}